.psy-img-profile-pic {
  width: 126px;
  height: 126px;
  border: 7px solid #ffffff;
  border-radius: 180px;
  /*Center image*/
  position: absolute;
  top: 50%;
  margin-top: -63px;
}

.psy-profile-row {
  background: rgba(234, 234, 255, 0.57);
}
